.carte {
  width: 250px;
  text-align: center;
  background-color: rgb(126, 198, 226);
  padding: 20px;
}
.carte img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
.ff {
  display: flex;
  justify-content: space-around;
}
.carte p {
  text-align: justify;
  margin-right: 5px;
  margin-left: 5px;
}
